<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ (session.user[1].upper()) }} | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">UMS</a></li>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/students" class="active">Students</a></li>
            <li><a href="/admin/courses">Courses</a></li>
            <li><a href="/admin/exams">Exams</a></li>
            <li><a href="/admin/fees">Fees</a></li>
            <li><a href="/admin/faculty">faculty</a></li>
            <li><a href="/admin/departments">Departments</a></li>
            <li><a href="/admin/results">Results</a></li>
            <li><a href="/admin/logs" >Logs</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        {% if query%}
        <h1 class="query">{{query}}</h1>
        {%endif%}

        {% if queries %}
        {%for query in queries%}
        <h1 class="query">{{queries[query]}}</h1>
        {%endfor%}
        {%endif%}
        {% if message_success%}
        <h1 class="success">{{message_success}}</h1>
        {%endif%}
        {% if message_danger%}
        <h1 class="error">{{message_danger}}</h1>
        {%endif%}

        {% if pending_students %}
        <h2>Pending Students</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Mail</th>
                <th>Applied In</th>
                <th>Expected Graduation</th>
                <th>Action</th>
            </tr>
            {% for student in pending_students %}
            <tr>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}</td>
                <td>
                    <a class="view" href="/admin/view_student/{{ student[0] }}">View</a>
                    <a class="approve" href="/admin/approve_student/{{ student[0] }}">Approve</a>
                    <a class="reject" href="/admin/reject_student/{{ student[0] }}">Reject</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if enrolled_students %}
        <h2>Enrolled Students</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Mail</th>
                <th>Applied In</th>
                <th>Expected Graduation</th>
                <th>Action</th>
            </tr>
            {% for student in enrolled_students %}
            <tr>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}</td>
                <td>
                    <a class="view" href="/admin/view_student/{{ student[0] }}">View</a>
                    <a class="graduate" href="/admin/graduate_student/{{ student[0] }}">Graduate</a>
                    <a class="restrict" href="/admin/restrict_student/{{ student[0] }}">Restrict</a>
                    <a class="reject" href="/admin/reject_student/{{ student[0] }}">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if graduted_students %}
        <h2>Graduated Students</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Mail</th>
                <th>Applied In</th>
                <th>Expected Graduation</th>
                <th>Action</th>
            </tr>
            {% for student in graduted_students %}
            <tr>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}</td>
                <td>
                    <a class="view" href="/admin/view_student/{{ student[0] }}">View</a>

                    <a class="reject" href="/admin/reject_student/{{ student[0] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if restricated_students %}
        <h2>Restricted Students</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Mail</th>
                <th>Applied In</th>
                <th>Expected Graduation</th>
                <th>Action</th>
            </tr>
            {% for student in restricated_students %}
            <tr>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}</td>
                <td>
                    <a class="view" href="/admin/view_student/{{ student[0] }}">View</a>
                    <a class="approve" href="/admin/remove_restriction/{{ student[0] }}">Remove Restriction</a>
                    <a class="reject" href="/admin/reject_student/{{ student[0] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}</form>
        {%if not pending_students and not enrolled_students and not graduted_students and not restricated_students%}
        <h2>No Students Found</h2>
        {%endif%}
    </main>
    <footer style="position: unset; bottom: 0; width: 100%;  text-align: center; padding: 10px 0;">
        <p>© 2026 University Management System</p>
        <p>Developed and Designed by Raman Oli</p>
    </footer>
</body>
</html>